@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #f1f5f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: background-color 0.5s ease;
  overflow: hidden;
  padding: 2vh 0; 
  box-sizing: border-box;
}

.scene-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.scene-title {
  font-size: clamp(3rem, 12vh, 6rem); 
  margin-bottom: 1vh;
  max-width: 90%;
}

.title-underline {
  width: 600px;
  max-width: 80%;
  height: 5px;
  margin-top: -20px;
  margin-bottom: 5vh; 
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2.5vh; 
  align-items: center;
  width: 100%;
}

.info-text {
  font-size: 2rem;
}

.sub-text {
  font-size: 1.25rem;
  margin-top: 20px;
}